* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border: none;
}

ul {
  list-style: none;
}



.cf::after {
  content: '';
  clear: both;
  table-layout: fixed;
}

figure,
header,
footer,
section,
nav,
article,
aside,
main {
  display: block;
}