.inner {
  max-width: 1260px;
  margin: 0 auto;
  text-align: center;
}


table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  border: 1px solid;
}

table tr.sub>td {
  padding: 0;
}

table th,
td {
  border: 1px solid;
  padding: 20px;
}